Repository ben-cart3r/terraform-template, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, build, terraform, environments, documentation

.github/labeler.yml:

ci:
  - '.github/**'

build:
 - 'Makefile'

terraform:
  - 'terraform/**'

environments:
  - 'environments/**'

documentation:
  - '*.md'

Bump change
  .github/workflows/pull_request.yaml
Labels: ci

Bump change
  .github/workflows/pull_request.yaml
Labels: ci

Bump change
  .github/workflows/pull_request.yaml
Labels: ci

Bump change
  .github/workflows/pull_request.yaml
Labels: ci

Bump change
  terraform/main.tf
Labels: terraform

Update makefile to run in gh actions
  Makefile
Labels: build

Update makefile to run in gh actions
  .github/workflows/pull_request.yaml
Labels: ci

Update makefile to run in gh actions
  .github/workflows/pull_request.yaml
  Makefile
Labels: ci, build

Update makefile to run in gh actions
  .github/workflows/pull_request.yaml
Labels: ci

Update makefile to run in gh actions
  .github/workflows/pull_request.yaml
Labels: ci

Update makefile to run in gh actions
  Makefile
Labels: build

Update makefile to run in gh actions
  Makefile
Labels: build

Update makefile to run in gh actions
  Makefile
Labels: build

Update makefile to run in gh actions
  .github/workflows/pull_request.yaml
Labels: ci

Update makefile to run in gh actions
  Makefile
  terraform/main.tf
Labels: build, terraform

Add github actions workflows
  .github/pull_request_template.md
  .github/workflows/pull_request.yaml
  .github/workflows/push_main.yaml
  .github/workflows/reusable-label-validation.yaml
  .github/workflows/reusable-static-validation.yaml
  .github/workflows/reusable-terraform-workflow.yaml
  .pre-commit-config.yaml
  Makefile
  README.md
Labels: ci, build, documentation

Add github actions workflows
  .github/workflows/reusable-static-analysis.yaml
Labels: ci

GitHub Actions Workflows (#1)
  .github/pull_request_template.md
  .github/workflows/pull_request.yaml
  .github/workflows/push_main.yaml
  .github/workflows/reusable-label-validation.yaml
  .github/workflows/reusable-static-analysis.yaml
  .github/workflows/reusable-terraform-workflow.yaml
  .pre-commit-config.yaml
  Makefile
  README.md
Labels: ci, build, documentation
